.footer-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer {
    width: 80%;
    background-color: #ffffff;
    color: rgb(59, 71, 77);
    text-align: center;
    justify-content: space-around;
    padding: 15px 0;
    position: fixed; 
    bottom: 0;
    
    border-top: 2px solid red;
}
